aside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px; /* Initial width of the navbar */
    background-color: black;
    overflow-x: hidden;
    transition: width 0.5s; /* Smooth transition effect */
  }
  
  aside nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  
  aside nav ul li {
    width: 100%;
    margin-bottom: 20px;
  }
  
  aside nav ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  aside nav ul li a i {
    font-size: 20px;
    margin-right: 10px;
    width: 30px;
    text-align: center;
  }
  
  aside nav ul li a .nav-text {
    white-space: nowrap;
    overflow: hidden;
    transition: max-width 0.5s ease, opacity 0.5s ease;
    max-width: 0;
    opacity: 0;
  }
  
  aside:hover {
    width: 180px;
  }
  
  aside:hover .nav-text {
    max-width: 100px;
    opacity: 1;
  }